<h5>Dear, {{user.firstName}}</h5>,

<p>
Welcome to Isomera, a cloud-hosted headless content management system!
<br>
Kind regards,
<br>
Isomera team
<br>
hi@isomera.com
<br>
https://www.isomera.com
</p>

