name: Nx Affected CI
on:
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18.x, 20.x]
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      - run: git fetch origin main

      - uses: pnpm/action-setup@v2
        with:
          version: 8
          run_install: false

      - name: 'Install dependencies'
        run: pnpm install --no-prefer-frozen-lockfile

      - name: Run Affected Tests
        shell: bash
        run:
          npx nx affected --target=test --base=remotes/origin/main --head=HEAD
